
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://brighton.valparaiso-hotels.com/data/Images/OriginalPhoto/15806/1580618/1580618627/image-valparaiso-hotel-brighton-4.JPEG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    width: 100%;
}
nav .logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}
nav .logo img {
    height: 30px;
    margin-right: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #ff9800;
}


/* Bloque */

main {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 90vh; 
    text-align: center;
    flex-grow: 1;
}

/* footer */

footer {
    font-size: 12px !important; /* Forzamos el tamaño pequeño para todo */
    background-color: #444;
    color: #f1f1f1;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    line-height: 1.4;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
    font-size: inherit; /* Aseguramos que herede el tamaño uniforme */
}

footer a {
    font-size: inherit; /* Garantizamos consistencia en los enlaces */
    color: #ff9800;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
}
