{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>BASE</title>
</head>
<body>
    <nav>
        <!-- Icon and Title -->
        <a href="#" class="logo">
            <img src="{% static 'img/1.png'%}" alt="Icon"> Doña Clarita
        </a>
        <!-- Navigation Links -->
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Copyright © 1996-2015 National Geographic Society. Copyright © 2015-2024 National Geographic Partners, LLC. Todos los derechos reservados</p>
    </footer>
</body>
</html>