{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>BASE</title>
</head>
<body>
    <nav>
        <!-- Icon and Title -->
        <a href="#" class="logo">
            <img src="{% static 'img/1.png'%}" alt="Icon"> Doña Clarita
        </a>
        <!-- Navigation Links -->
        <ul>
            <li><a href="{% url 'logout' %}"><img src="{% static 'img/cerrar-sesion.png' %}" style="height: 40px; width: 40px;"></a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Hostal Doña Clarita. Todos los derechos reservados.</p>
        <p>Dirección: Avenida Principal 123, Ciudad, País</p>
        <p>Teléfono: +56 9 1234 5678 | Correo: contacto@donaclarita.com</p>
        <p>Síguenos: 
            <a href="https://www.facebook.com/donaclarita" target="_blank">Facebook</a> | 
            <a href="https://www.instagram.com/donaclarita" target="_blank">Instagram</a> | 
            <a href="https://twitter.com/donaclarita" target="_blank">Twitter</a>
        </p>
    </footer>
</body>
</html>