{% extends 'base.html' %}

{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/clientes/cliente.css' %}">


<div class="container">

    <div class="container2">
        <a href="{% url 'crear_cliente' %}" class="perro btn btn-primary">Agregar Cliente</a>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>RUT</th>
                <th>Correo</th>
                <th>Empresa</th>
                <th>Habitación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.rut }}</td>
                <td>{{ cliente.correo }}</td>
                <td>{{ cliente.empresa.nombre_empresa }}</td>
                <td>{{ cliente.habitacion.numero_habitacion }}</td>
                <td>
                    <a href="{% url 'editar_cliente' cliente.pk %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'eliminar_cliente' cliente.pk %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container2">
        <a href="{% url 'index'  %}" class="botong btn btn-primary">Atrás</a>
    </div> 
</div>




{% endblock %}