{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/pedidos/pedido.css' %}">

<div class="container">

    <div class="container2">
        <a href="{% url 'crear_pedido' %}" class="btn btn-primary">Crear Pedido</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Proveedor</th>
                <th>Rubro</th>
                <th>Pedido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.proveedor.nombre_proveedor }}</td>
                <td>{{ pedido.proveedor.rubro }}</td>
                <td>{{ pedido.id }}</td>
                <td>
                    <a href="{% url 'ver_pedido' pedido.id %}" class="btn btn-warning">Ver</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

<div class="container2">
    <a href="{% url 'index'  %}" class="botong btn btn-primary">Atrás</a>
</div>




{% endblock %}